h1,
h2,
p {
  margin: 0;
  color: #ff5c65; /* Remove this */
}

ul {
  list-style-type: none;
}

.App {
  text-align: center;
  height: 2000px;
  background-color: #222425;
  color: aliceblue;
}

/* HEADER */
#home {
  margin-bottom: -4px;
  color: aliceblue;
}

.header-container {
  position: relative;
}

#header-img {
  width: 100%;
}

#header-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}

#header-title {
  font-size: 7vw;
}

#header-paragraph {
  font-size: 2vw;
}
/* ABOUT */
#about {
}

#about-title {
  font-size: 3vw;
}

#about-paragraph {
  padding-top: 25px;
  font-size: 1.9vw;
}

.introduction {
  color: #ff5c65;
}

/* RESUME */
#resume {
}

/* CONTACT */
#contact {
  background-color: #282c34;
}
