.profile-pic {
  height: 20%;
  width: 20%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}
