#skills {
    
}

.skills-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ul-skills {
    display: flex;

    li {
        padding-right: 35px;
    }
}