body {
  margin: 0 auto;
  width: min(100vw, calc(70% + 100vw));
}

h1,
h2,
h3,
h4 {
  color: #ff5c65;
  background: -webkit-linear-gradient(#ff5c65, #4a569d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: clamp(1vw, 3vw, 10vw);
}

.highlight {
  background: -webkit-linear-gradient(#ed4264, #ffedbc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight-instagram {
  background: -webkit-linear-gradient(top left, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2,
h3,
h4 {
  font-size: 2vw;
}

p {
  margin: 0;
  font-size: 1.7vw;
}

ul {
  list-style-type: none;
}

/*---SCROLLBAR START--- (Probably put in separate file*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #ff5c65;
}
/*---SCROLLBAR END---*/

.App {
  text-align: center;
  background-color: rgb(47, 49, 50);
  color: aliceblue;
}

/* HEADER */
#home {
  margin-bottom: -4px;
  color: aliceblue;
}

.header-container {
  position: relative;
}

#header-img {
  width: 100%;
}

#header-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}

#header-title {
  font-size: 7vw;
}

#header-paragraph {
  font-size: 2vw;
}

/* CONTACT */
#contact {
  background-color: #282c34;
}
