#education {
  // background-color: #5E6C73;
  padding-top: 100px;
}

.education_section {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.education_row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.education_section::-webkit-scrollbar {
  height: 5px;
  background: #555;
}

/* Track */
.education_section::-webkit-scrollbar-track {
  background-color: white;
}

.education_section::-webkit-scrollbar-track-piece {
  display: none;
}

/* Handle */
.education_section::-webkit-scrollbar-thumb {
  opacity: 0;
}

/* Handle on hover */
.education_section::-webkit-scrollbar-thumb:hover {
  background-color: #ff5c65;
}

.info {
  display: flex;
  flex-direction: column;
}

.education_item {
  padding-left: 50px;
  padding-bottom: 30px;
  max-width: 100%;
  height: auto;
}

.education_image_container {
  height: 150px;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  display: inline-block;
}

.education_image {
  padding-top: 50px;
  float: left;
  max-width: 100%;
  height: 7vw;
}
