.social-container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  a {
    padding-top: 10px;
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
    img {
      width: 5vw;
      height: 5vw;
    }
  }
}
