nav {
  overflow: hidden;
  background-color: none;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
}

nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 15px;
  display: flex;
}

nav ul li {
  display: inline;
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
  flex: 1;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 14px;
  &:hover {
    background: -webkit-linear-gradient(#ed4264, #ffedbc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navicon:before {
  top: 5px;
}

.navicon:after {
  top: -5px;
}

/* menu btn */

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .menu li {
    float: left;
  }
  .menu li a {
    padding: 20px 30px;
  }

  .menu {
    clear: none;
    float: left;
    max-height: none;
  }
  .menu-icon {
    display: none;
  }
}
