#projects h1 {
    padding-bottom: 25px;
}

#project1 {
}


.project1-text {
    
}



#project2 {
    padding-top: 100px;
}

#project2 img {
    width: 25%;
}

#project3 {
    padding-top: 50px;
}

.project3-image {
    padding-top: 100px;

    img {
        width: 50%;
    }
}

.column-gallery {
    float:right;
    float:left;
    width: 25%;
    padding-top: 20px;
}

.column-gallery img {
    width: 50%;
    opacity: 0.3;
    cursor: pointer;
}

.column-gallery img:hover {
    opacity: 1;
}

.row-gallery:after {
    content: ""; /* content inserts the valye of the href attribute after <a> element */
    display: table;
    clear: both;
}

.container-gallery {
    position: relative;
}

.container-gallery img {
    width: 50%;
}
