#project1 {
}

.project1-text {
    
}

#project1 img {
    width: 30%;
}

#project2 {
    padding-top: 100px;
}

#project2 img {
    width: 25%;
}

#project3 {
    padding-top: 50px;
}

.project3-image {
    padding-top: 100px;

    img {
        width: 50%;
    }
}


