#skills {
padding-bottom: 50px;
}

#skills-section ul {
}

#skills-section ul li {
padding-top: 50px;
}



.skillName {
    float: left;
    width: 10%;
    padding-right: 100px;
}

.progressBar-wrapper {
    padding-top: 5px;
}

.progressBar {
    float:left;
    width: 10%;
    height: 0.75em;
    border: 0.125em solid darken(#3f3f3f, 3);
    border-radius: 10px;
}

.progressBar-with-bg {
    float:left;
    width: 10%;
    height: 0.75em;
    border: 0.125em solid darken(#3f3f3f, 3);
    border-radius: 10px;
    background-color: #ff5c65;
}


